<html>
<head>
<script type="text/javascript">

// The example function is called from the
// body tag when the page loads
function example(){

// Call the callApi function to create a usable
// object named apiObject from the API request URL.
// Put the API request URL in the call
callApi('http://summary.ekmmetering.com/summary?meters=17507&key=MTAxMDoyMDIw&format=json&report=15&limit=1&fields=kWh_Tot*',
function(apiObject){
      //document.getElementById("result2").innerHTML = "<pre>hello</pre>"; 
      // This just displays the object in the result div
      // you can use what ever code you would like to work
      // with the object here
      document.getElementById("result").innerHTML = "<pre>"+JSON.stringify(apiObject, null, 4)+"</pre>";

      // This example digs deeper into the JSON and displays the first
      // kwh_tot_max value for the first summary read
      summary = apiObject[0];
      kwh_tot_max = summary["kWh_Tot_Max"];
      document.getElementById("kwh_tot_max").innerHTML = "<pre>kWh_Tot_Max: "+kwh_tot_max+"</pre>"; 
    });

};

// This code accesses the apiRequest URL and converts
// the contents to a usable JSON object named apiObject
function callApi(apiRequest,callback) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState == 4 && xhttp.status == 200) {
        var jsonObject = JSON.parse(xhttp.responseText);
        callback(jsonObject);
      }
    };
    xhttp.open("GET", apiRequest, true);
    xhttp.send();
}
</script>

</head>
  <body onload="example()">
    <div id="result"> </div>
    <div id="kwh_tot_max"> </div>
  </body>
</html>
