<h2 style="font-family: Arial, Helvetica, sans-serif">
   ISO: PJM      Zone: PSEG</h2>
<div *ngFor="let chart of charts">
    
  <google-chart width="1000" height="600"
    [title]="chart.title"
    [type]="chart.type"
    [data]="chart.data"
    [columnNames]="chart.columnNames"
    [roles]="chart.roles"
    [options]="chart.options"
    (ready)="onReady()"
    (select)="onSelect($event)"
    (error)="onError($event)"
    (mouseenter)="onMouseEnter($event)"
    (mouseleave)="onMouseLeave($event)">
  </google-chart>
 </div>



<button (click)="navigateToTest()">Navigate</button>
