
<head>
  

</head>

<body>
  <nav class="navbar-custom navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #f5f8fd;">
    <a class="navbar-brand">
      <div>
        <img src="assets/images/SALOGOBG.png" size=5 alt="" class="img-fluid">
      </div>
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="" routerLinkActive="active">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="app-intro" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="iso-data" routerLinkActive="active">Real Time Grid Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="app-fetch-data" routerLinkActive="active">Real Time Consumption Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="app-els-chart" routerLinkActive="active">Terms and Conditions</a>
        </li>
      </ul>
    </div>

  </nav>

</body>