/* div {
  border: 2px solid;
  
 
  resize: both;
  overflow: auto;
} */
.chart {
  width: 100%; 
  min-height: 800px;
}
.row {
  margin:0 !important;
}.custom-about {
    
    width: 100%;
    height: auto;
    position: relative;
    background: #f5f8fd;
  }
  .custom-about h5 {
    font-family: "Montserrat", sans-serif;
    line-height: 200%;
    font-weight: 800;
    margin: 0 0 2000px 0;
    padding: 10px;

  }
  .custom-about .intro-info h2 {
    color: #413e66;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
  }
  
  .custom-about .intro-info h2 span {
    color: #1bb1dc;
  }
  
  .custom-about .intro-info .btn-get-started,
  .custom-about .intro-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #1bb1dc;
    color: #fff;
  }
  
  .custom-about .intro-info .btn-get-started:hover,
  .custom-about .intro-info .btn-services:hover {
    background: #0a98c0;
  }
  .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #8a87b6;
  }